@use "../../variables" as *;

.usercard-container {
  width: 100%;
  display: flex;
  background-color: rgba(219, 215, 215, 0.87);
  height: 20rem;
  font-size: 1rem;
  position: relative;
}

.usercard-delete {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0.25rem;
}

.usercard-delete-icon {
  width: 24px;
  height: 24px;
  color: #c62828;
}

.usercard-foto {
  display: flex;
  margin-top: 3rem;
  margin-left: 1rem;
  padding: 1rem;
  width: 10%;
  height: 12rem;
  background-color: $gray-90;
  justify-content: center;
  align-items: center;
  border-radius: 20px 0px 0px 20px;
  border: none;
  border-right: 1px solid black;
}

.usercard-person {
  display: flex;
  margin-top: 3rem;
  padding: 1rem;
  width: 60%;
  height: 12rem;
  background-color: $gray-90;
  border-radius: 0 20px 20px 0;
  border: none;
  text-align: left;
  position: relative;
}

.usercard-username {
  font-weight: bold;
  margin-bottom: 0.5rem;
  width: 0;
  margin-left: 2rem;
}

.usercard-details {
  display: flex;
  flex-direction: row;
  width: 20%;
  margin-top: 0.5rem;
  text-align: right;
}

.usercard-leftside {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  margin-top: 2.5rem;
  margin-right: 8rem;
}

.usercard-birth,
.usercard-email {
  display: flex;
}

.usercard-birth-icon,
.usercard-email-icon,
.usercard-adress-icon,
.usercard-phone-icon,
.usercard-gender-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.usercard-rightside {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
  text-align: left;
  gap: 0.5rem;
}

.usercard-website {
  display: flex;
}

.usercard-website-icon {
  width: 25px;
  height: 25px;
}
