// .root-body {
//   display: flex;
//   flex: 1 0 100%;
// }

// .sidebar-container {
//   display: flex;
//   flex-direction: column;
//   border: solid;
//   width: 350px;
//   gap: 0.5rem;
//   justify-items: center;
//   text-align: center;
// }

// .nav-header-title {
//   background-color: grey;
//   color: black;
//   width: 100%;
//   height: 4rem;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .sidebar-item {
//   width: 80%;
//   box-sizing: border-box;
//   justify-content: flex-start !important;
//   text-align: left;
//   background-color: rgb(214, 207, 207);
//   color: black;
// }

// .main-content {
//   border: solid;
//   width: 100%;
//   background-color: white;
//   color: black1;
// }
