.app-input {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  gap: 2rem;
}

.app-input-username {
  display: flex;
  flex-direction: column;
}

.app-input-textfield {
  width: 20rem;
  height: 2rem;
  border-radius: 10px;
}
