.app-input {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  gap: 2rem;
  padding-left: 1rem;
}

.app-input-username,
.app-input-birthdate,
.app-input-gender,
.app-input-email,
.app-input-adress,
.app-input-phonenumber,
.app-input-website {
  display: flex;
  flex-direction: column;
  width: 20rem;
}

.app-input-textfield,
.app-input input,
.app-input .MuiInputBase-input {
  width: 100%;
  height: 2.5rem;
  border-radius: 10px;
  padding: 0.75rem 0.5rem;
  font-size: 1rem;
  background-color: rgb(196, 185, 185);
  color: black;
  box-sizing: border-box;
  border: none;
}

.app-button {
  height: 2rem;
}

.app-submit_button {
  background-color: rgb(110, 137, 224);
  color: black;
  width: 12%;
  height: 2.5rem;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.app-submit_button:hover {
  background-color: rgb(149, 164, 214);
}
