#root {
  width: 100%;
  display: flex;
}
#root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: rgba(219, 215, 215, 0.87);
  color: rgb(15, 15, 15);
}

body {
  margin: 0;
  display: flex;
  min-height: 100vh;
}

.app {
  display: flex;
  width: 100%;
}

.app-sidebar {
  width: 350px;
}

.app-content {
  flex-grow: 1;
}
.MuiDateCalendar-root,
.css-5wchs2-MuiDateCalendar-root,
.MuiFormControl-root {
  background-color: rgb(196, 185, 185);
  color: black;
  border-radius: 10px;
  border: none;
}

.MuiPickersSlideTransition-root,
.MuiDayCalendar-slideTransition,
.css-1n1xn3x-MuiPickersSlideTransition-root-MuiDayCalendar-slideTransition,
.MuiPickersSectionList-root,
.MuiPickersInputBase-sectionsContainer,
.css-1fb7els-MuiPickersSectionList-root-MuiPickersInputBase-sectionsContainer-MuiPickersOutlinedInput-sectionsContainer {
  background-color: rgb(196, 185, 185);
  color: black;
  height: 1rem;
  border-radius: 10px;
}

.MuiSelect-select,
.MuiSelect-outlined,
.MuiInputBase-input,
.MuiOutlinedInput-input,
.css-18jp67o-MuiNativeSelect-root-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  border-radius: none;
}
